
  #content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: 0;
  }
  .productfullldetails{
    .product-title {
      color: #333333;
      font-weight: 400;
      text-transform: capitalize;
      padding-bottom: 15px;
      font-size: 22px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 15px;
      @media (max-width: 543px) {/* If media is below 544 */
        font-size: 20px;
      }
    }
  }
 
  .breadcrumb-title { 
    font-size: 22px;
    line-height: normal;
    margin-bottom: 14px;
    color: $brand-primary;
    text-transform: capitalize;
    border: 0;
    padding: 0;
  }

.form-control-select {
  -moz-appearance: menulist;
  background: none;
}
.product-price { 
  color: $brand-primary;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 24px;
}
#product-description-short {
  color: $gray-darker;
}
.product-information {
  font-size: $font-size-lg;
  color: $gray-darker;
  p{
    margin-bottom: 15px;
    color: #332233;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .8px;
    line-height: 20px;
  }
  .manufacturer-logo {
    height: 35px;
  }

  .product-description img {
    max-width: 100%;
    height: auto;
  }
}
.input-color {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
}
.input-container {
  position: relative;
}
.input-radio {
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.input-color,
.input-radio {
  &:checked + span,
  &:hover + span {
    border: 2px solid $gray-darker;
  }
}
.radio-label {
  background: white;
  display: inline-block;
  padding: 0.125rem 0.625rem;
  font-weight: 600;
  border: 2px solid white;
}
.product-actions {
  .control-label {
    width: 100%;
    margin-bottom: 8px;
    display: block;
    width: 100%;
    font-weight: 500;
    color: #232323;
  }
  .add-to-cart {
    @media (max-width: 543px) {/* If media is below 544 */
      padding: 10px 19px;
    }
    line-height: inherit;
    text-transform: uppercase;
    padding: 9px 25px;
    background-color: $brand-primary;
    border-color: $brand-primary;
    .material-icons {
      line-height: inherit;
      display: none;
    }
    &:hover {
      background-color: $brand-secondary; 
      border-color: $brand-secondary;
    }
  }
}
.product-quantity-selector{
    margin-bottom: 20px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    height: auto;
    border: 1px solid #ededed;
    p{
      margin-right: 35px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 26px;
      color: #505050;
    }
    span{
      display: none;
    }
    i{
      font-size: 18px;
      color: #808080;
      cursor: pointer;
    }
    .dec{
      margin-right: 5px;
    }
    .inc{
      margin-left: 5px;
    }
    .quantity{
      margin: 0;
      padding: 0;
      width: auto;
      min-width: 0;
      border: none;
      width: 30px;
      font-size: 18px;
      text-align: center;
    }
  }
.product-quantity {
  display: block;
  .add ,.wishlist_login{
    float: left;
    display: inline-flex;
    margin-bottom: 15px;
  }
  .add {
    margin-right: 5px;
  }  
  .wishlist_login{
    a{
      position: relative;
      padding: 0;
      background-color: $brand-secondary;
      border: 1px solid $brand-secondary;
      border-radius: 50%;
      width: 37px;
      height:37px;
      fill: $light-color;
      display: inline-block;
      vertical-align: middle;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      span {
        display: none;
      }
    }
    &:hover {
      a{
        background-color: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
  .input-group-btn-vertical {
    float: left;
  }
  .input-group-btn-vertical {
    .btn {
      padding: 0.5rem 0.6875rem;
      i {
        font-size: 1rem;
        top: 0.125rem;
        left: 0.1875rem;
      }
    }
  }
  .btn-touchspin {
    height: 1.438rem;
  }
}
.product-discounts {
  margin-bottom: 0;
  > .product-discounts-title {
    font-weight: normal;
    font-size: $font-size-sm;
  }
  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: 0.625rem 1.25rem;
      background: white;
      border: 0.3125rem $gray-light solid;
      text-align: center;
    }
    tbody tr {
      background: $border-color;
      &:nth-of-type(even) {
        background: white;
      }
      td {
        padding: 0.625rem 1.25rem;
        text-align: center;
        border: 0.3125rem $gray-light solid;
      }
    }
  }
}
.product-prices {
  font-weight: 400;
  font-size: 15px;
  color:$black-color;
  margin-bottom: 8px;
  div {
    display: inline-block;
    vertical-align: middle;
  }

  .tax-shipping-delivery-label {
    font-size: 0.8125rem;
    color: $gray;

    .delivery-information {
      padding: 0 0 0 2px;

      &::before {
        content: "-";
        padding: 0 2px 0 0;
      }
    }
  }
}
.product-discount {
  color: #878787;
  margin-bottom: 0;
  .regular-price {
    text-decoration: line-through;
    font-weight: 500;
    margin-right: 0.625rem;
    font-size: 18px;
  }
}
.product-line-info {
  margin-bottom: 8px;
  .value {
    color: #acaaa6;
  }
}
.has-discount {
  &.product-price, p {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0;
  }
  .discount {
    background: #f1f1f1;
    color: #000000;
    padding: 7px 11px;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    margin: 0 8px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }
}
.product-unit-price {
  font-size: $font-size-xs;
  margin-bottom: 0;
}
.tabs {
  @media (max-width: 991px) {/* If media is below 992 */
    margin-bottom:30px;
  }
  margin-bottom: 50px;
  .nav-tabs {
    border-bottom: none;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    @media (max-width: 543px) {
      margin-bottom: 20px;
    }
    .nav-link {
      color: $brand-primary;
      padding-left:1px;
      padding-right:1px;
      padding: 8px 12px;
      border: 1px solid #e4e4e4;
      background: $light-color;
      letter-spacing: 1px;
      text-decoration: none;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      font-size: 14px;
      font-weight: 500;
      border-radius: 4px;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 0;
        height: 0;
        bottom: -9px;
        margin: 0 auto;
        border-style: solid;
        border-width: 8px 10px 0 10px;
        border-color: transparent transparent transparent transparent;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }
      @media (max-width: 543px) {
        padding: 8px 4px;
        font-size: 13px;
      }
    }
    .nav-item {
      display: inline-block;
      vertical-align: middle;
      float: none;
      margin-bottom: -0.125rem;
      text-transform: uppercase;
      margin-left: 10px;
      &.active {
        .nav-link{
          border-color:$brand-secondary;
          background: $brand-secondary;
          color: $light-color;
          &:before {
            border-color: $brand-secondary transparent transparent transparent;
          }
        } 
      }
      &:hover {
        .nav-link{
          border-color:$brand-secondary;
          background: $brand-secondary;
          color: $light-color;
          &:before {
            border-color: $brand-secondary transparent transparent transparent;
          }
        }
      }
      &:focus {
        .nav-link{
          color: $light-color;
        }
      }
      @media (max-width: 543px) {
        margin-left: 6px;
        margin-bottom: 13px;
      }      
      &:first-child {
        margin-left: 0;
      }
    }
  }
  #tab-content {
    padding: 15px;
    border: 1px solid #e4e4e4;
    text-align: center;
    .tab-pane {
      p{
        line-height: 28px;
        color: gray;
        margin-bottom: 0;
        letter-spacing: 0.8px;
      }
    }
  }    
}
.product-cover {
  margin-bottom: 1.25rem;
  position: relative;
  #product-zoom {
    cursor: crosshair;
  }
  img {
    background: white;
  }
}
.product-images {
  > li.thumb-container {
    display: inline;
    > .thumb {
      cursor: pointer;
      margin-bottom: 0.625rem;
      .images-container & {
        margin-right: 0.8125rem;
      }
    }
  }
}
#main {
  .images-container {
    overflow: hidden;
    .js-qv-mask {
      white-space: nowrap;
      overflow: hidden;
      &.scroll {
        width: 450px;
        margin: 0 auto;
        @media (max-width: 1199px) {
          width: 350px;
        }
        @media (max-width: 991px) {
          width: 230px;
        }
        @media (max-width: 767px) {
          width: 350px;
        }
        @media (max-width: 543px) {
          width: 230px;
        }
      }
    }
  }
}
.scroll-box-arrows {
  display: none;
  i {
    position: absolute;
    bottom: 5%;
    height: 100px;
    line-height: 100px;
    cursor: pointer;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
.mask {
  padding: 0 15px;
  padding-bottom: 10px;
  .owl-nav {
    .owl-prev, .owl-next {
      left: -15px;
      right: auto;
      position: absolute;
      top: 35%;
      margin: 0;
      width: 30px;
      height: 30px;
      i {
        font-size: 12px;
        &:before {
          font-size: 12px;
          line-height: 28px;
        }
        &:after {
          display: none;
        }
      }
    }
    .owl-next {
      right: -15px;
      left: auto;
    }
  }
}
#product-availability {
  display: flex;
  font-weight: 600;
  width: 100%;
  overflow: hidden;
  align-items: center;
  color: #000000;
  .material-icons {
    line-height: inherit;
    line-height: 22px;
  }
  .product-available {
    color: #4cbb6c;
    margin-right: 3px;
  }
}
#product-details {
  .product-manufacturer {
    margin-bottom: 15px;
  }
  .label {
    font-weight: 500;
    margin-right: 10px;
    color: #444;
    margin-bottom: 12px;
  }
  span {
    color: #969696;
    line-height: 20px;
  }
}
.product-features {
  margin-top: 1.25rem;
  margin-left: 0.3125rem;
  text-align: center;
  > dl.data-sheet {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    dd.value,
    dt.name {
      flex: 1 0 40%;
      font-weight: normal;
      background: #ebebeb;
      padding: 0.625rem;
      margin-right: 0.625rem;
      min-height: 2.5rem;
      word-break: normal;
      text-transform: capitalize;
      margin-bottom: .5rem;
      align-items: center;
      justify-content: center;
      display: flex;
      &:nth-of-type(even) {
        background: #f6f6f6;
      }
    }
  }
}
.product-variants {
  > .product-variants-item {
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 12px;
    }
    select {
      background-color: white;
      width: auto;
      padding-right: 1.875rem;
      height: 2.625rem;
      padding-left: 5px;
      border: 1px solid #ededed;
    }
    ul{
      margin-bottom: 0;
    }
    label{
      margin-bottom: 0;
    }
    ul li {
      margin-right: 2px;
      display: inline-block;
      vertical-align: middle;
    }
    .color {
      margin-left: 0;
      margin-top: 0;
    }    
    .color, .custom-checkbox input[type="checkbox"] + span.color {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        cursor: pointer;
        background: #fafafa none repeat scroll 0 0;
        display: inline-block;
        justify-content: center;
        margin-right: 5px;
        width: 20px;
        border: 2px solid #000;
    }
  }
}

.product-add-to-cart {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
.product-flags {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
li.product-flag {
    position: absolute;
    display: block;
    padding: 5px 7px;
    color: $gray-darker;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    z-index: 2;
 
    &.discount, &.on-sale{
        top: 10px;
        right: 10px;
    }
    &.new {
      top: 10px;
      left: 10px;
    }
    &.online-only {
        left: 10px;
        bottom: 10px;
        display: none;
        &::before{
            content:"\E30A";
            font-family: 'Material Icons';
            vertical-align: -2px;
            margin: 5px;
            font-size: 12px;
        }
    }
    &.pack {
        color: $brand-primary;
        right: 10px;
        top: 30px;
    }
}
.product-additional-info {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
  .social-sharing {  
    margin-bottom: 15px;
    span {
      display: block;
      margin-bottom: 0.375rem;
      font-weight: 500;
      color: #000;
    }
    ul {
      margin-bottom: 0;
    }
    li{
        height: 35px;
        width: 60px;
        display: inline-block;
        background-color: #FFF;
        cursor: pointer;
        margin-right: 4px;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        a {
          display: block;
          width: 100%;
          height: 100%;
          white-space: nowrap;
          text-align: center;
          line-height: 38px;
          text-indent: unset;
          overflow: hidden;
          &:before {
            display: inline-block;
            vertical-align: middle;
            font-family: FontAwesome;
            font-weight: 400;
            position: relative;            
            font-size: 18px;
            line-height: 33px;
            color: $light-color;
          }
          &:hover{
            color: transparent;
          }
        }
        &.facebook{
          background-color:#3b5999;
          a{          
            &:before{
              content: "ï‚š";
            } 
          } 
        }
        &.twitter{
          background-color: #00aced;
          a{
            &:before{
                content: "\f099";
            }
          }
        }
        &.googleplus{
          background-color: #dc473b;
          a{
             &:before{
              content:"\f0d5";
            }
          } 
        } 
        &.pinterest{
          background-color: #cb2027;
          a{
            &:before{
              content:"\f231";
            }
          }
        }
        &:hover{
          background: $brand-secondary;
        }
      }
  }
  .paymentlogo-container { 
    padding: 0;
    float: left;
    text-align: left;
    span {
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
      color: #000;
    }
    img {
      margin: 1px 4px 7px 4px;
      padding: 2px;
      box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
    }   
  }
}
@media (max-width: 991px) {
  .product-cover {
    img {
      width: 100%;
    }
  }
}

/*========================== You Might Also Like Block ==========================*/

  .product-block-information{
    .product-title{
      font-size: 1.125rem;
      padding-bottom: 0;
      border-bottom: medium none;
      margin-bottom: 0.5rem; 
    }
  }



.product-accessories-block{
  @media (max-width: 991px) {/* If media is below 992 */
    margin-bottom:30px;
  }
  @media (max-width: 543px) {/* If media is below 543 */
    padding: 0 5px;
  }
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
  .owl-nav {
    @media (max-width: 543px) {
      /* If media is below 544 */
      margin-top: 10px;
    }
    .owl-prev, .owl-next {
      i {
        &:after {
          display: none;
        }
      }
    }
  }
}

#product, #leftsidebarproduct, #rightsidebarproduct{
  #ishispecialproducts{
    display: block;
    width: 100%;
    overflow: hidden;
  }
}

/*========================== block-reassurance ==========================*/
#block-reassurance{
  margin-bottom: 30px;
  &.block-reassurance-cart{
    margin-bottom: 0;
  }
  img{
    opacity: .9;
    width: rem(25px);
    margin-right: rem(10px);
  }
  li{
    margin-bottom: 7px;
    &:last-child {
      margin-bottom: 0;
    }
    .block-reassurance-item{
      padding: 15px;
      border-left: 3px solid $brand-secondary ! important;
      border:1px solid #e9e9e9;
      background: #f7f8fa;
      text-transform: capitalize;
    }
  }
  span{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
  }
}
/*----------------product review form--------------*/
#tab-review{
  text-align: left;
  h2 {
    margin: 10px 0 15px;
    font-size: 18px;
    font-weight: 500;
    color: $brand-primary;
  }
  .form-group{
    display: block;
    width: 100%;
    overflow:hidden;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
  }
  .control-label{
    padding: 7px 0 5px;
    margin-right: 10px;
  }
  .custom-radio{
    margin-right: 7px;
  }
  .help-block {
    display: block;
    margin: 10px 0;
    color: #737373;
  }
}